@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #2563eb; /* Google Drive Blue */
  --color-secondary: #16a34a; /* Green */
  --color-accent: #facc15; /* Yellow */
  --color-neutral: #e1e5e8; /* Dark Gray */

  --color-base-content: #5a5b5b;
  --color-info-content: #969899;

  -color-base-100: #fafafa; /* Light neutral gray */
  --color-base-200: #f1f1f1; /* Slightly darker gray */
  --color-base-300: #5c5855; /* Medium gray */

  --color-info: #38bdf8;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

body {
  font-family: "Montserrat", serif;
}
